:root {
  --color-bg: #292727;
  --color-accent: #0e0e0e80;
  --color-border: #ccc;
  --color-text: #cce0ed;
  --btn-send-bg: #27ae60;
  --btn-color: white;

  --radius-large: 30px;
  --padding-base: 24px;
  --padding-small: 10px;
  --font-family: Arial, sans-serif;
}

/* Login Box */
.login-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.login-container {
  background-color: var(--color-accent);
  padding: var(--padding-base);
  border-radius: var(--radius-large);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  color: var(--color-text);
  text-align: center;
}

/* Input Fields */
.input {
  width: 100%;
  padding: var(--padding-small);
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: #1f1f1f;
  color: var(--color-text);
  font-size: 1rem;
}

/* Login Button */
.btn-send {
  width: 100%;
  padding: 10px;
  background-color: var(--btn-send-bg);
  color: var(--btn-color);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-send:hover {
  background-color: #219150;
}

/* Title */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

